* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

.background {
	/*background: #eee; */
	background: #222;
}

.header {
    background-image: url("img/TheMachineryBruteRunPath.png");
	background-size: 100% 100%;
    margin: auto;
	padding-bottom: 200px;
}

#header {
	display: flex;
	margin: auto;
	padding: 20px;
	height: 500px;
}

.text {
	font-family: Helvetica;
	font-weight: 300;
	color: white;
}

.splitter {
	padding: 10px;
	margin-bottom: 50px;
	background: #111;
}

.profile-image-container {
	flex: 0 0 65%;
}

.profile-text {
	flex: 1;
	text-align: center;
}

.profile-text h1{
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	font-size: 60px;
	font-weight: 700;
	margin: 0;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0.5em;
}

.profile-text h2{
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	padding-right: 5px;
	padding-left: 5px;
	font-size: 30px;
}

.intro_greeting {
	float: right;
}

.intro_desc {
	float: right;
}

.aboutme {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	
	background-color: #062F4F;
	padding-bottom: 40px;
	text-align: center;
	width: 100%;
	display: block;
	overflow: hidden;
}

.big-title {
	font-weight: 300;
	color: white;
	font-family: 'Quicksand',sans-serif;
	font-size: 60px;
}

.running-desc {
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
}

.running-text {
	font-weight: 300;
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 15px;
}

a.running-link, a.running-link:visited, a.running-link:active {
	color: white;
    text-decoration: none;
    border-bottom: 1px white dotted;
	background-color: transparent;
}

.running-text p {
	margin: 0 0 10px;
}

.projects{
	text-align: center;
}

.projects h1{
	font-size: 40px;
}

.projects h2{
	padding-bottom: 15px;
	font-size: 20px;
}

body {
	font-family: Merriweather, sans-serif;
	margin: 0;
}

.portfolio-title {
	margin-bottom:20px;
	
}

.portfolio-container {
    margin: auto;
	overflow: hidden;
}

.row {
	width: 1050px;
	overflow: hidden;
	margin: 0 auto;
}

.item {
	margin: auto;
    float: left;
	width: 500px;
	height: 500px;
	padding: 10px;
	overflow: hidden;
}

a.projects, a.projects:visited, a.projects:active {
	color: black;
    text-decoration: none;
    border-bottom: 1px black dotted;
	background-color: transparent;
}

.center {
	color: white;
	background-color: dimgray;
	font-size: 30px;
	margin: auto;
	width: 100%;
	padding: 10px;
}

.jump-offset {
	height: 47px;
}

.marginbot {
	margin-top: 20px;
}

.contact {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	
	background-color: #062F4F;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
	display: block;
	overflow: hidden;
}

.social-icon {
	width: 100px;
	height: 100px;
	margin: 5px;
	margin-top: 10px;
}